:root {
    --bg-color: #f4f6f9;
    --surface-color: #FFFFFF;
    --primary-color: #F79F1F;
    --secondary-color: #536390;

    --surface-separator-color: #EEEEEE;
    --on-surface-color: #2c2c2c;
    --on-primary-color: #FFFFFF;

    --font-color: #424242;
    --heading-color: #292922;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}