@import "./css/reset.css";
@import "./css/themes.css";

body{
	transition: all 0.5s;
  background-color: #f4f6f9;
  font-family: 'Cairo', Arial, Tahoma, sans-serif;
  font-weight: 400;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#app{
  min-height: 100%;
  color: var(--on-surface-color);
  background: var(--bg-color);
  transition: all 0.3s;
}

@media (min-width: 1024px) {

}
